<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tv.istreameast">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="iStreamEast TV"
        android:banner="@drawable/app_banner"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
